/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:


- Shades: 

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/****************************************************
_default website *************************************
*****************************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 1 rem = 16px default */
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting 
  set default 1 rem = 10 px */
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #212121;
}
/****************************************************
_header website *************************************
*****************************************************/
.header {
  padding: 3.2rem 9.6rem;
  display: flex;
  justify-content: space-between;
  background-color: #b2ebf2;
}
.main-nav-list {
  display: flex;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  font-size: 2.4rem;
  font-weight: 500;
  color: #212121;
}

/****************************************************
_section Hero ***************************************
*****************************************************/
.section-hero {
  /* background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.533));
  filter: grayscale(100%); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 100vh; */
  background-color: #b2ebf2;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}
.hero-img-box {
  padding: 9.6rem;
}
.hero-img-box img {
  width: 100%;
  border-radius: 100%;
  border: 3px solid black;
}

.grid {
  display: grid;
}
.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}
